@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #171717;
  --primary-blue: #1D4ED8;
  --gold: #D4AF37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: #1D4ED8;
  --color-gold: var(--gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
